/* You can add global styles to this file, and also import other style files */
:root {
    --primary-background-color : #0f1117;
    --secondary-background-color : #161b24;
    --sel-backgrnd-color-main: #1c2a3b;
    --sel-backgrnd-color-sec: #1c2333;

    --text-color-light: #d4dbe8;
    --text-color-main: #7b8799;
    --text-color-dark: #4a5568;
    --se-text-color-1: #4a90d9;

    --text-font-main: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


    
}