.main-container {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #0f172a;
    color: #f1f5f9;
    font-family: Inter, sans-serif;
}
.main-navbar {
    width: 100%;
}
.main-container{
    padding: 20px;
}