html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.layout {
    display: grid;

    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;

    grid-template-areas: "sidebar topbar" "sidebar content";

    height: 100vh;

    gap: 0;



    background-color: var(--primary-background-color);
    font-family: var(--text-font-main);
    
}

.sidebar {
    grid-area: sidebar;

    height: 100vh;
}

.topbar {
    grid-area: topbar;
}

.content {
    grid-area: content;
    overflow: auto;
    padding: 16px;
};